body {
   background-image : url("img/background.jpg");
   text-align : center;
   
}

.box {
 
   display: inline-block;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-top : 10%;
}

.character {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   
}

.character1 {

   width: 150px;
   height: 150px;
   background-repeat: no-repeat;
   background-image: url(img/nova.png);
   background-repeat: round;
}

.character2 {


   width: 150px;
   height: 150px;
   background-image: url(img/Zagara.png);
   background-repeat: round;
}

.character3 {

   width: 150px;
   height: 150px;
   background-image: url(img/background.jpg);
   background-repeat: round;
   
}

.character4 {

   width: 150px;
   height: 150px;
   background-image: url(img/Alarak.png);
   background-repeat: round;
}

.pickCharacter {

   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   
}

.pickCharacter1 {

   width: 150px;
   height: 150px;
   
}

.pickCharacter2 {


   width: 150px;
   height: 150px;
  
}

.pickCharacter3 {

   width: 150px;
   height: 150px;
   
   
}

.pickCharacter4 {

   width: 150px;
   height: 150px;
  
}
