body {
   background-image : url("img/background.jpg");
   text-align : center;
  
   background-size: 110%;
}
/** Message d'acceuil */ 
.box {
 
   display: inline-block;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-top : 2%;
}
/* Cadre des personnages */
.character {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-top : 7%;
   
}

.character1 {

   width: 250px;
   height: 250px;
   background-repeat: no-repeat;
   background-image: url(img/zeratul.png);
   background-repeat: round;
}

.character2 {


   width: 250px;
   height: 250px;
   background-image: url(img/grisetete.png);
   background-repeat: round;
}

.character3 {

   width: 250px;
   height: 250px;
   background-image: url(img/valyrya.png);
   background-repeat: round;
   
}

.character4 {

   width: 250px;
   height: 250px;
   background-image: url(img/kaelthas.png);
   background-repeat: round;
}

/* Choix du personnage */
.pickCharacter {

   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-top : 1%;
   
}

.pickCharacter1 {

   width: 250px;
   height: 250px;
   
}

.pickCharacter2 {


   width: 250px;
   height: 250px;
  
}

.pickCharacter3 {

   width: 250px;
   height: 250px;
   
   
}

.pickCharacter4 {

   width: 250px;
   height: 250px;
  
}


h1 {
   font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}