<?php require "View/Template/html_head.html"; ?>


    <div class="box"> 
        <h1> L'Arene d'Anzu </h1>
        <p> Bienvenue <?php echo $_POST["pseudo"] ?> </p>
        <h2> Choissisez votre Combattant !<h2>
    </div>  

    <div class="character">
        <div class="character1">  </div>
        <div class="character2">  </div>
        <div class="character3">  </div>
        <div class="character4">  </div>
    </div>
    
    <div class="pickCharacter">
        <div class="pickCharacter1"> 
            <form method="POST" action="fight.html"> 
                <input type="hidden" name="id">
                <input class="btn btn-outline-primary" type="submit" value="Zeratul" name="Zeratul" >
            </form> 
        </div>                  
        <div class="pickCharacter2"> 
            <form method="POST" action="fight.html"> 
                <input class="btn btn-outline-primary" type="submit" value="Grisetête" name="Grisetête"> 
            </form> 
        </div>
        <div class="pickCharacter3">
            <form method="POST" action="fight.html"> 
                <input class="btn btn-outline-primary" type="submit" value="Valyria" name="Valyria">
            </form>  
        </div>          
        <div class="pickCharacter4">
            <form method="POST" action="fight.html"> 
                <input class="btn btn-outline-primary" type="submit" value="Kael&#145;Thas"name="Kael&#145;Thas">
            </form> 
        </div>
    </div>
    

    <?php require "View/Template/html_end.html"; ?>